[class^='icon-'], [class*=' icon-'] {
  display: inline-block;
  vertical-align: middle;
  background: url("../img/sprite.png") -9999px -9999px no-repeat; }

@media (min--moz-device-pixel-ratio: 1.5), (-webkit-min-device-pixel-ratio: 1.5), (min-device-pixel-ratio: 1.5), (min-resolution: 1.5dppx) {
  [class^='icon-'], [class*=' icon-'] {
    background-image: url("../img/sprite@2x.png");
    background-size: 339px 243px; } }

.icon-clock {
  background-position: -74px -200px;
  width: 12px;
  height: 12px; }

.icon-views {
  background-position: -127px -186px;
  width: 13px;
  height: 7px; }

.icon-heart {
  background-position: -322px -153px;
  width: 17px;
  height: 15px; }

.icon-star {
  background-position: -275px -108px;
  width: 30px;
  height: 30px; }

.icon-check {
  background-position: -158px -108px;
  width: 34px;
  height: 34px; }

.icon-check-blue {
  background-position: -119px -108px;
  width: 34px;
  height: 34px; }

.icon-nocheck {
  background-position: -197px -108px;
  width: 34px;
  height: 34px; }

.icon-arrow {
  background-position: -109px -186px;
  width: 13px;
  height: 8px; }

.icon-arrow-down {
  background-position: -268px -217px;
  width: 8px;
  height: 13px; }

.icon-vk {
  background-position: -127px -217px;
  width: 26px;
  height: 26px; }

.icon-fb {
  background-position: -158px -217px;
  width: 26px;
  height: 26px; }

.icon-ok {
  background-position: -220px -217px;
  width: 26px;
  height: 26px; }

.icon-tg {
  background-position: -64px -217px;
  width: 27px;
  height: 26px; }

.icon-viber {
  background-position: -32px -217px;
  width: 27px;
  height: 26px; }

.icon-tw {
  background-position: -310px -108px;
  width: 27px;
  height: 26px; }

.icon-mail {
  background-position: 0px -217px;
  width: 27px;
  height: 26px; }

.icon-phone {
  background-position: -74px -108px;
  width: 40px;
  height: 40px; }

.icon-pen {
  background-position: -298px -153px;
  width: 19px;
  height: 16px; }

.icon-marker {
  background-position: -251px -217px;
  width: 12px;
  height: 14px; }

.icon-heart-red {
  background-position: -109px -153px;
  width: 31px;
  height: 28px; }

.icon-star-small {
  background-position: -189px -217px;
  width: 26px;
  height: 26px; }

.icon-doc {
  background-position: -74px -153px;
  width: 30px;
  height: 42px; }

.icon-download {
  background-position: -236px -108px;
  width: 34px;
  height: 34px; }

.icon-border-check {
  background-position: -183px -153px;
  width: 26px;
  height: 25px; }

.icon-toilet {
  background-position: -214px -153px;
  width: 26px;
  height: 25px; }

.icon-cup {
  background-position: -96px -217px;
  width: 26px;
  height: 26px; }

.icon-water {
  background-position: -245px -153px;
  width: 23px;
  height: 25px; }

.icon-car {
  background-position: -145px -153px;
  width: 33px;
  height: 25px; }

.icon-passport {
  background-position: 0px 0px;
  width: 167px;
  height: 103px; }

.icon-contract {
  background-position: -172px 0px;
  width: 167px;
  height: 103px; }

.icon-metric {
  background-position: 0px -108px;
  width: 69px;
  height: 104px; }

.icon-check-small {
  background-position: -273px -153px;
  width: 20px;
  height: 20px; }

@font-face {
  font-family: 'FiraSans';
  src: url("../fonts/FiraSans.eot");
  src: url("../fonts/FiraSans.eot?#iefix") format("embedded-opentype"), url("../fonts/FiraSans.woff") format("woff"), url("../fonts/FiraSans.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'FiraSans';
  src: url("../fonts/FiraSansMedium.eot");
  src: url("../fonts/FiraSansMedium.eot?#iefix") format("embedded-opentype"), url("../fonts/FiraSansMedium.woff") format("woff"), url("../fonts/FiraSansMedium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal; }

@font-face {
  font-family: 'FiraSans';
  src: url("../fonts/FiraSans-Bold.eot");
  src: url("../fonts/FiraSans-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/FiraSans-Bold.woff") format("woff"), url("../fonts/FiraSans-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal; }

@font-face {
  font-family: 'FiraSans';
  src: url("../fonts/FiraSansLight.eot");
  src: url("../fonts/FiraSansLight.eot?#iefix") format("embedded-opentype"), url("../fonts/FiraSansLight.woff") format("woff"), url("../fonts/FiraSansLight.ttf") format("truetype");
  font-weight: 300;
  font-style: normal; }

html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  min-height: 100%;
  position: relative; }

body {
  margin: 0;
  font: 16px/22px 'FiraSans', sans-serif;
  color: #696b7e;
  background: #f1f2f4; }

body,
html {
  padding: 0;
  height: 100%; }

a:hover {
  text-decoration: none;
  color: #023556; }

p {
  margin-bottom: 10px; }

h1,
.h1 {
  font-size: 30px;
  line-height: 36px;
  font-weight: 500;
  text-transform: uppercase;
  color: #2c2e3f;
  margin-bottom: 30px; }

h2,
.h2 {
  font-weight: 300;
  font-size: 30px;
  line-height: 36px;
  margin-bottom: 20px; }

.btn {
  font-size: 14px;
  line-height: 17px;
  padding: 12px 30px 11px;
  border-radius: 8px; }
  .btn-primary {
    background: #28a845;
    color: #fff;
    border: none; }
    .btn-primary:hover, .btn-primary:focus, .btn-primary:active {
      background: #28a845 !important;
      box-shadow: none !important; }
  .btn-secondary {
    background: transparent;
    border: 1px solid #0087fd;
    color: #0087fd; }
    .btn-secondary:hover, .btn-secondary:focus, .btn-secondary:active {
      background: transparent !important;
      border: 1px solid #0087fd !important;
      color: #0087fd !important;
      box-shadow: none !important; }

input {
  padding: 3px 15px; }

button {
  cursor: pointer; }

:-ms-input-placeholder {
  opacity: 1 !important;
  color: #fff !important; }

::placeholder {
  opacity: 1 !important;
  color: #fff !important; }

.wrap {
  min-width: 1520px;
  margin: 0 auto;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  height: 100%; }

.container {
  max-width: 1520px; }

.content {
  -ms-flex: 1 0 auto;
      flex: 1 0 auto; }

.header {
  background: #fff; }
  .header__main {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1);
    height: 80px; }
  .header__menu {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1);
    height: 100px; }

.footer {
  background: #3b3b46;
  height: 400px;
  -ms-flex: 0 0 auto;
      flex: 0 0 auto; }

.breadcrumbs {
  padding: 20px 0 26px 0;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: row;
      flex-direction: row;
  -ms-flex-align: center;
      align-items: center; }
  .breadcrumbs__back {
    border-radius: 12px;
    background: #28a845;
    padding: 0 10px 0 25px;
    color: #fff;
    font-size: 12px;
    line-height: 24px;
    margin-right: 15px;
    position: relative; }
    .breadcrumbs__back:before {
      content: '';
      position: absolute;
      left: 12px;
      top: 0;
      bottom: 0;
      margin: auto 0;
      width: 6px;
      height: 6px;
      border-top: 1px solid #fff;
      border-left: 1px solid #fff;
      transform: rotate(-45deg); }
    .breadcrumbs__back:hover, .breadcrumbs__back:focus {
      color: #fff; }
  .breadcrumbs ul {
    list-style: none;
    padding-left: 0;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: row;
        flex-direction: row;
    margin-bottom: 0; }
    .breadcrumbs ul li a, .breadcrumbs ul li span {
      line-height: 19px; }
    .breadcrumbs ul li a {
      color: #a8abb4;
      position: relative; }
      .breadcrumbs ul li a:after {
        content: '';
        display: inline-block;
        vertical-align: middle;
        margin: 0 9px 0 7px;
        width: 6px;
        height: 6px;
        border-top: 1px solid #28a845;
        border-right: 1px solid #28a845;
        transform: rotate(45deg); }
    .breadcrumbs ul li span {
      color: #000; }

.substrate {
  background: #fff;
  border-radius: 4px;
  padding: 30px;
  margin-bottom: 20px; }

.product-side {
  max-width: 422px; }

.product-card__img {
  width: 320px;
  height: 320px;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 50%;
  margin: 0 auto;
  margin-bottom: 27px; }

.product-card__id {
  line-height: 19px;
  color: #2c2e3f;
  font-weight: 300;
  margin-bottom: 8px; }

.product-card__title {
  text-transform: none;
  margin-bottom: 18px; }

.product-card__date, .product-card__views {
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  color: #2c2e3f; }
  .product-card__date span, .product-card__views span {
    margin-right: 4px; }

.product-card__date {
  margin-bottom: 8px; }

.product-card__views {
  margin-bottom: 20px; }

.product-card__fav span {
  margin-right: 8px; }

.detail-btn {
  height: 213px;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 4px;
  overflow: hidden;
  margin-bottom: 20px;
  padding: 20px 30px;
  position: relative;
  z-index: 1; }
  .detail-btn:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.0001) 50%, rgba(0, 0, 0, 0.698313) 100%);
    z-index: -1; }
  .detail-btn p {
    font-size: 32px;
    line-height: 30px;
    color: #fff;
    margin-bottom: 10px; }
  .detail-btn a {
    background: rgba(247, 200, 76, 0.3);
    display: inline-block;
    vertical-align: top;
    padding: 0 14px;
    line-height: 26px;
    color: #fff;
    border-radius: 3px; }

.rating {
  font-size: 30px;
  line-height: 36px;
  font-weight: bold;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: row;
      flex-direction: row;
  -ms-flex-align: center;
      align-items: center;
  color: #2c2e3f; }
  .rating span {
    margin-right: 10px; }
  .rating_white {
    color: #fff; }
  .rating_small {
    font-size: 26px;
    line-height: 31px; }

.parent {
  background: #fff;
  border-radius: 4px;
  padding: 25px 30px;
  margin-bottom: 20px; }
  .parent__img {
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-bottom: 20px; }
  .parent__name {
    font-size: 24px;
    line-height: 30px;
    color: #2c2e3f;
    font-weight: 500;
    margin-bottom: 10px; }
  .parent__gender {
    font-size: 18px;
    line-height: 30px;
    border: 1px solid;
    padding: 0 16px;
    display: inline-block;
    vertical-align: top;
    border-radius: 2px;
    margin-bottom: 20px; }
    .parent__gender_male {
      color: #62A0E5;
      border-color: #62a0e5; }
    .parent__gender_female {
      color: #ff5570;
      border-color: #ff5570; }
  .parent__detail {
    list-style: none;
    padding-left: 0;
    margin-bottom: 0; }
    .parent__detail li {
      font-size: 14px;
      line-height: 24px;
      color: #2c2e3f; }
      .parent__detail li div:first-of-type {
        color: #97a3b0; }
  .parent__own {
    font-size: 12px;
    line-height: 14px;
    font-weight: 800;
    color: #2c2e3f; }
    .parent__own span {
      margin-left: 10px; }

.product-media__title {
  margin-bottom: 35px; }
  .product-media__title h2 {
    margin-bottom: 0; }
  .product-media__title a {
    color: #0087fd;
    line-height: 18px; }

.product-media__slider ul {
  margin: 0 -5px; }
  .product-media__slider ul li {
    margin: 0 5px;
    background-color: #f1f2f4;
    background-image: url(../img/nophoto.png);
    background-position: center center;
    background-repeat: no-repeat;
    width: 180px;
    height: 180px;
    border-radius: 8px; }

.slider {
  overflow: hidden;
  position: relative; }
  .slider ul {
    list-style: none;
    padding-left: 0;
    white-space: nowrap;
    position: relative; }
    .slider ul li {
      display: inline-block;
      vertical-align: top; }
  .slider__nav a {
    opacity: .5;
    width: 100px;
    height: 100px;
    position: absolute;
    border-radius: 50%;
    top: 0;
    bottom: 0;
    margin: auto 0;
    background: #28a845; }
    .slider__nav a:before {
      content: '';
      position: absolute;
      width: 12px;
      height: 12px;
      border-left: 2px solid #fff;
      border-top: 2px solid #fff;
      top: 0;
      bottom: 0;
      margin: auto 0; }
    .slider__nav a.disabled {
      background: #a0a5b5;
      pointer-events: none; }
    .slider__nav a.prev {
      left: -50px; }
      .slider__nav a.prev:before {
        right: 20px;
        transform: rotate(-45deg); }
    .slider__nav a.next {
      right: -50px; }
      .slider__nav a.next:before {
        left: 20px;
        transform: rotate(135deg); }

.info__detail {
  list-style: none;
  padding-left: 0;
  margin-bottom: 0; }
  .info__detail li {
    color: #2c2e3f;
    font-size: 14px;
    margin-bottom: 10px; }
    .info__detail li div {
      line-height: 18px; }
    .info__detail li div:first-of-type {
      color: #97a3b0; }

.info__price {
  margin-bottom: 45px; }
  .info__price p {
    vertical-align: middle;
    margin-bottom: 10px; }
    .info__price p s {
      color: #97a3b0;
      font-size: 18px;
      line-height: 22px;
      display: inline-block;
      vertical-align: middle; }
    .info__price p span {
      line-height: 16px;
      background: #ff5570;
      color: #fff;
      font-size: 10px;
      padding: 0 5px;
      display: inline-block;
      vertical-align: middle;
      border-radius: 2px;
      margin-left: 5px; }
  .info__price b {
    font-size: 36px;
    line-height: 43px;
    color: #2c2e3f;
    position: relative;
    display: block; }
  .info__price_lower b,
  .info__price_grow b {
    padding-right: 20px; }
    .info__price_lower b:after,
    .info__price_grow b:after {
      content: '';
      position: absolute;
      top: 0;
      bottom: 0;
      height: 7px;
      margin: auto 0;
      right: 0;
      border: 5px solid transparent; }
  .info__price_lower b:after {
    border-top: 7px solid #000; }
  .info__price_grow b:after {
    bottom: 5px;
    border-bottom: 7px solid #000; }

.info__description {
  font-weight: 300;
  border-bottom: 1px solid #d2dfee;
  padding-bottom: 25px;
  margin-bottom: 30px; }
  .info__description p {
    margin-bottom: 20px; }

.info__description-more {
  line-height: 21px;
  color: #0087fd;
  font-weight: normal; }
  .info__description-more:hover {
    color: #0087fd; }

.social span {
  font-weight: 500;
  color: #2c2e3f;
  line-height: 21px; }

.social ul {
  list-style: none;
  padding-left: 0;
  margin: 0 -5px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: row;
      flex-direction: row;
  -ms-flex-pack: end;
      justify-content: flex-end; }
  .social ul li {
    margin: 0 5px; }

.seller {
  position: relative; }
  .seller__check {
    position: absolute;
    right: 10px;
    top: 10px; }
  .seller__img {
    background-color: #f1f2f4;
    background-position: center center;
    background-repeat: no-repeat;
    width: 100px;
    height: 100px;
    border-radius: 50px;
    margin-bottom: 32px; }
  .seller__id {
    font-weight: 300;
    line-height: 19px;
    color: #2c2e3f;
    margin-bottom: 13px; }
  .seller__name {
    color: #2c2e3f;
    font-weight: 500;
    font-size: 24px;
    line-height: 30px; }
  .seller__who {
    list-style: none;
    padding-left: 0;
    margin: 0 -5px 20px;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: row;
        flex-direction: row; }
    .seller__who li {
      margin: 0 5px;
      border: 1px solid;
      border-radius: 3px;
      font-size: 18px;
      line-height: 30px;
      padding: 0 10px;
      -ms-flex: auto;
          flex: auto;
      text-align: center; }
      .seller__who li.pink {
        color: #ff5570;
        border-color: #ff5570; }
      .seller__who li.blue {
        color: #62a0e5;
        border-color: #62a0e5; }
      .seller__who li.small {
        font-size: 12px; }
  .seller__phone {
    position: relative;
    line-height: 40px;
    vertical-align: middle;
    padding-left: 40px;
    background: #f6f7fa;
    border: 1px solid #e6eafa;
    text-align: center;
    border-radius: 20px;
    margin-bottom: 10px; }
    .seller__phone .icon-phone {
      position: absolute;
      left: 0;
      top: 0; }
    .seller__phone a {
      text-decoration: underline;
      font-size: 18px;
      line-height: 22px;
      color: #2c2e3f; }
  .seller__message {
    margin-bottom: 10px; }
  .seller__address {
    background: #f6f7fa;
    border: 1px solid #e6eafa;
    border-radius: 8px;
    overflow: hidden;
    display: block;
    line-height: 40px;
    padding: 0 10px;
    color: #2c2e3f;
    position: relative;
    z-index: 1;
    margin-bottom: 12px; }
    .seller__address:before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: linear-gradient(to right, rgba(255, 255, 255, 0), #f6f7fa 90%);
      z-index: 2; }
    .seller__address-content {
      white-space: nowrap;
      font-weight: 300; }

.related-docs__title {
  margin-bottom: 32px; }

.file {
  font-size: 18px;
  line-height: 22px;
  color: #2c2e3f;
  margin-bottom: 32px; }

.additionally-slider {
  margin: 0 -30px;
  text-align: center; }
  .additionally-slider ul {
    margin-bottom: 0; }
    .additionally-slider ul li {
      text-align: center;
      font-size: 14px;
      line-height: 17px;
      font-weight: 300;
      color: #2c2e3f;
      letter-spacing: .0011em;
      width: 125px;
      padding: 20px 10px 15px;
      white-space: normal;
      border-left: 1px solid #e8e8e8; }
      .additionally-slider ul li:first-of-type {
        border: none; }
      .additionally-slider ul li span {
        margin-bottom: 9px; }

.delivery {
  border-right: 1px solid #e8e8e8;
  padding-bottom: 10px; }
  .delivery b {
    font-weight: 500;
    color: #2c2e3f;
    display: block;
    margin-bottom: 10px; }
  .delivery ul {
    list-style: none;
    padding-left: 0;
    margin-bottom: 10px; }
    .delivery ul li {
      line-height: 22px; }

.deposit {
  padding-left: 15px; }
  .deposit__caption {
    font-weight: 300;
    color: #696b7e; }
  .deposit__price {
    font-size: 26px;
    line-height: 31px;
    color: #2c2e3f; }

.docs__all-link {
  color: #0087fd;
  line-height: 18px; }
  .docs__all-link:hover {
    color: #0087fd; }

.docs__slider ul {
  margin: 0 -10px; }
  .docs__slider ul li {
    margin: 0 10px; }
    .docs__slider ul li a {
      display: block;
      position: relative;
      width: 240px;
      text-align: center;
      padding: 30px 20px 20px;
      background: #fff;
      border-radius: 4px; }
      .docs__slider ul li a .icon-check-small {
        position: absolute;
        top: 15px;
        right: 15px; }
      .docs__slider ul li a span {
        margin-bottom: 43px; }
      .docs__slider ul li a b {
        text-align: left;
        display: block;
        color: #2c2e3f;
        font-size: 18px;
        line-height: 26px;
        font-weight: 500; }

.docs__slider .slider__nav a {
  margin: 0;
  bottom: auto;
  top: 40px; }
